@model CoreAndFood.Data.Models.Account
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "PersonelUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<form asp-controller="Account" asp-action="AccountGet" method="post">
    <h1>Personel Update</h1>
    <br/>
    <b>User Name</b>
    <br />
    <input asp-for="UserName" class="form-control" /> <span asp-validation-for="UserName" class=" alert-danger"></span>
    <br />
    <b>E-Mail</b>
    <br />
    <input asp-for="Email" class="form-control" /> <span asp-validation-for="Email" class=" alert-danger"></span>
    <br />
    <b>Password</b>
    <br />
    <input asp-for="Password" class="form-control" /> <span asp-validation-for="Password" class=" alert-danger"></span>
    <br />
    <button class="btn btn-success">Save</button>
    <br />
    <br />
    <label class="alert-success">@ViewBag.successful</label>

</form>